.form {
  background: #fff;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);

  .group {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .input-group {
    select {
      font-size: 1.6rem;
      padding: 0.8rem;
      border: 1px solid rgba(153, 153, 153, 0.596);
      border-radius: 0.5rem;
      background: #fff;
      color: inherit;
      margin-bottom: 0.3rem;
      transition: all 0.2s;
    }
  }

  button {
    padding: 1rem 2rem;
    background: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    margin-top: 2rem;
  }
}
