.list-users {
  background: #fff;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;

  h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  ul {
    li {
      margin-bottom: 1rem;
      padding: 1rem;
      border-bottom: 1px solid var(--color-gray-light-1);
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    text-align: center;

    a {
      color: var(--primary-color);
      text-decoration: underline;
      transition: all 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
