.sidebar {
  background-color: var(--black-color);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 7rem);
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  & a:link,
  & a:visited {
    color: var(--color-gray-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 0;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
  }

  & svg {
    width: 2rem;
    height: 2rem;
    z-index: 10;
  }
}

.side-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;

  padding-left: 2rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--primary-color);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &:hover::before {
    transform: scaleY(1);
    width: 100%;
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-gray-light-1);
  text-align: center;
  padding: 2.5rem 2.5rem 1rem;
}
